.container{
    padding: 100px 0px;
    width: 100%;
    height: 100vh;
}
.top{
    display: flex;
    padding: 50px 0px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.profilePhoto img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.aboutAuth{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins';
}
.username{
    font-size: 40px;
    font-weight: 600;
}
.userdescript{
font-size: 15px;
}
.tabscontainer{
    display: flex;
    gap: 20px; 
    padding: 0;
    justify-content: space-between;
}
.tabs{
    display: flex;
    margin-left: 60px;
}
.addphoto{
    background-color: transparent;
    border: none;
    font-family:Poppins;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
    color: gray;
}
.addphoto:hover{
    color: black;
}
.activeTab{
    padding: 10px 10px;
    font-family: Poppins;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
    background-color: transparent;
    border: none;
}
.activeTab:hover {
    color: black;
}
.line{
    margin: 0;
}
